@charset "utf-8";
/* CSS Document */

body {background-color:bisque}

#Logo {float:left;}

#Icon {float:right;}

#Navigacion {clear:both; font-family:Arial;word-spacing:35px;
border-top:solid black 1px;
border-bottom:solid black 1px;
padding:10px 0px 10px 0px;
margin:10px 0px 10px 0px;

}

#Navigacion a 
{
    color:black;
}

#Navigacion a:hover {color:brown;}

#LeftContent h1 
{   
    color:brown; 
    border-bottom:solid black 1px;
}

#LeftContent {width:900px; float:left;
}
#RightContent {width:900px; float:right;
}

#RightContent h3
{
    color:brown;

}

#LeftContent img
{
    
    padding:5px;
    margin:10px;
}



#footer
{
    clear:both;border-top:solid black 1px;padding:10px;text-align:center;

}

#box
{
    width:900px;background-color:white; margin:0px auto 0px auto; 

}

#box1
{
    width:950px;background-color:white; margin:0px auto 0px auto; 

}

#boxa
{
    width:250px;background-color:beige; border-top:solid black 10px ; float:left; margin:15px 15px 15px 15px ; padding:10px
}

#boxb
{
    width:250px;background-color:beige; border-top:solid black 10px ; float:left; margin:15px 15px 15px 15px ; padding:10px
}

#boxc
{
    width:250px;background-color:beige; border-top:solid black 10px ; float:left; margin:15px 15px 15px 15px ; padding:10px
}

#Header
{
    border-bottom:solid black 1px; padding:5px
}